*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background:linear-gradient(to right, black,white);
    overflow-x: hidden;
}

.navbar
{
      padding:10px;
      background-color: rgba(0,0,0,0.0);
      margin-top:20px;
      display:flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
  }

.welcome
{
    padding-left:5px;
    padding-right:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    margin-right: 850px;
    color: white;
    background: tomato;

}
.profile
  {
    padding: 10px;
    font-size: 15px;
    border-radius: 5%;
    background-color:rgb(116, 180, 64);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}

.logout
  {
    padding: 10px;
    font-size: 15px;
    border-radius: 5%;
    background-color:rgb(192, 62, 62);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}

.profile:hover
{
    cursor: pointer;
    background-color: black;
    color: rgb(116, 180, 64);
    font-weight: bolder;
}

.logout:hover
{
    cursor: pointer;
    background-color: black;
    color:rgb(192, 62, 62);
    font-weight: bolder;
}

.container
{
    width: 1300px;
    overflow: hidden;
}
.sliderbox
{
    width:6500px;
    position: relative;
    animation-name: sliderboxAnimation;
    animation-duration: 65s;
    animation-iteration-count: infinite;
}

@keyframes sliderboxAnimation
{
  0%{left:-325px ;}
  7.7%{left:-325px ;}
  9.2%{left: -975px;}
  16.9%{left:-975px ;}
  18.4%{left: -1625px;}
  26.1%{left:-1625px;}
  27.6%{left: -2275px;}
  35.3%{left:-2275px;}
  36.8%{left: -2975px;}
  44.3%{left:-2975px;}
  45.8%{left:-3575px;}
  53.5%{left:-3575px;}
  55.0%{left: -2975px;}
  62.7%{left:-2975px;}
  64.2%{left:-2275px;}
  71.9%{left: -2275px;}
  73.4%{left:-1625px;}
  81.1%{left: -1625px;}
  82.6%{left:-975px;}
  90.3%{left:-975px;}
  91.8%{left:-325px;}
  100%{left:-325px;}
}
.sliderbox img
{
    float: left;
}
.poster
{
    width: 650px;
    height: 390px;
    transition:0.3s;
}

.poster:hover
{
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 10px solid white;
}

.searchBox
{
    background-color: rgb(255, 255, 255);
    gap: 5px;
    margin-top: 20px;
    padding:5px;
    display: flex;
    width: fit-content;
    margin-left:400px;
}
.searchBox input
{
    background-color: black;
    border: none;
   
    width: 400px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}


.searchBox img
{
    margin: top 2px;
    width: 35px;
    height:30px;
}

.searchBox .searchButton
{
    cursor:pointer;
}

.nowShowing
{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:white;
    border: 5px solid black;
}

.nowShowingText
{
   margin-top:10px;
   margin-bottom:10px;
   background-color: white;
   color: black;
   font-family: 'Times New Roman', Times, serif;
   font-size: 32px;
   font-weight: 800;
}

.container-2
{
    margin-top: 30px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card{
    transition:0.3s;
}

.card:hover
{
  border: 10px solid white;
  border-radius: 16px;
}

.bookButton a
{
    margin-top: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.card-1
{
    width:300px;
    height:400px;
}

.card-1 .card-1-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-1-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-1-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}



.card-1-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}

.card-2
{
    width:300px;
    height:400px;
}

.card-2 .card-2-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-2-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-2-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-2-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}

.card-3
{
    width:300px;
    height:400px;
}

.card-3 .card-3-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-3-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-3-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-3-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}


.card-4
{
    width:300px;
    height:400px;
}

.card-4 .card-4-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-4-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-4-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-4-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}

.card-5
{
    width:300px;
    height:400px;
}

.card-5 .card-5-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-5-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-5-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-5-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}


.card-6
{
    width:300px;
    height:400px;
}

.card-6 .card-6-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-6-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-6-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-6-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}


.card-7
{
    width:300px;
    height:400px;
}

.card-7 .card-7-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-7-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-7-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-7-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}

.card-8
{
    width:300px;
    height:400px;
}

.card-8 .card-8-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-8-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-8-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-8-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}

.card-9
{
    width:300px;
    height:400px;
}

.card-9 .card-9-inner
{
    width: 100%;
    height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-9-inner.is-flipped
{
    transform:rotateY(180deg);
}

.card-9-part
{
    position: absolute;
    height:100%;
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card-9-back
{
    text-align: center;
    padding: 50px;
    background:linear-gradient(to bottom right, #ffce00, #fe4880 );
    color: black;
    font-size: 20px;
    transform:rotateY(180deg);
}



